rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow create, update, read;
    }
    match /levels/{levelId} {
      allow read;
    }
    match /leaderboard/{sessionId} {
      allow read;
    }
  }
}